/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}
.menu li {
  background: #333;
  padding: 6px 18px;
  border-radius: 4px;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.clock h4 {
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 100%; /* Adjusts maximum width of the form */
}
.form-row {
  display: flex;
  gap: 10px;
}
.form-row > label {
  flex-basis: 100px; /* Ensures label width is consistent */
  flex-grow: 0;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-row > input,
.form-row > select {
  flex-grow: 1;
}
.form-row > input[type="submit"] {
  flex: 1 1 auto; /* Allows the submit button to grow */
  cursor: pointer;
}
/* Styling for inputs and selects for better usability */
input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Includes padding in the width */
}
input[type="submit"] {
  background-color: rgb(26, 26, 26);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: rgb(6, 5, 5);
}
input[type="date"] {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type="date"]:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 100, 255, 0.25);
  outline: none;
}

/* table */
table {
  width: 100%; /* Sets the table to take full width of its container */
  border-collapse: collapse; /* Collapses the border lines between cells */
  font-family: Arial, sans-serif; /* Sets a clean, readable font */
  margin-top: 10px;
}
h1 {
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 16px;
}
h2 {
  font-size: 20px;
}
th,
td {
  padding: 8px; /* Adds space inside each table cell */
  border: 1px solid #ddd; /* Adds a light gray border around each cell */
  text-align: left; /* Aligns text to the left of each cell */
}

thead {
  background-color: #f4f4f4; /* Light gray background for header */
  font-weight: bold; /* Makes header text bold */
  color: #000;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Lighter gray for odd rows */
}

tbody tr:nth-child(even) {
  background-color: #e9e9e9; /* Slightly darker gray for even rows */
}
.space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50%;
}

.login-form h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group button {
  width: 100%;
  padding: 10px;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.input-group button:hover {
  background-color: #4a54f1;
  transition: background-color 0.3s;
}
