<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="menu">
        <ul>
          <li><a href="/">ধান ক্রয়</a></li>
          <li><a href="/records">প্রতিদিনের হিসাব</a></li>
        </ul>
      </div>
      <div class="clock">
        <h4 id="date">4th May 2024</h4>
        <h4 id="time">12:13:12 AM</h4>
      </div>
    </div>

    <h1>ধান ক্রয় হিসাব</h1>
    <form action="/" method="POST" class="form-container" id="formCustomer">
      <div class="form-row">
        <input type="text" id="name" name="name" placeholder="নাম" />

        <input type="text" id="address" name="address" placeholder="ঠিকানা" />
      </div>
      <div class="form-row">
        <input type="tel" id="phone" name="phone" placeholder="মোবাইল" />
      </div>
      <div class="form-row">
        <select id="paddyType" name="paddyType">
          <option value="">ধানের জাত</option>
          <option value="babu28">বাবু ২৮</option>
          <option value="rajshahiMinicat">রাজশাহী মিনিকেট</option>
          <option value="minicat">মিনিকেট</option>
        </select>

        <input
          type="number"
          id="unitPrice"
          name="unitPrice"
          placeholder="মন প্রতি দাম"
          required
        />
      </div>

      <div class="form-row">
        <input
          type="number"
          id="weight"
          name="weight"
          placeholder="ওজন (মন.কেজি)"
        />
        <input type="hidden" name="totalWgt" id="totalWgt" />
        <input type="hidden" name="totalBags" id="totalBags" />
        <button id="add">+যোগ করুন</button>
        <input type="submit" value="মুছুন" />
      </div>
    </form>
    <div class="result">
      <div class="list">
        <!-- the list of all the items -->

        <table id="data-list">
          <thead>
            <tr>
              <th>বস্তা নং</th>
              <th>ওজন</th>
            </tr>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>
      <div class="space"></div>
      <h2 id="totalWeight"></h2>
      <h2 id="totalPrice"></h2>
    </div>
    <script src="./js/script.js"></script>
    <script src="./js/time.js"></script>
  </body>
</html>
